.post-container{
    position: relative;
    width: max-content;
    height: max-content;
    min-width: 80%;
    margin-left: 1%;
}

.post-date{
    position: relative;
    top: -35px;
    z-index: 1;
    font-size: 75%;
    width: max-content;
}

.post-editBtn{
    position: relative;
    bottom: -34px;
    right: 0%;
    z-index: 1;
    font-size: 75%;
}